# Introduction to Datetime

In [16]:
import datetime as dt

Converts a datetime object to a string with a format like "07 Sep 2002".

In [17]:
birthday_date = dt.datetime(2002, 9, 7)

Converts a date string back to a datetime object.

In [18]:
string_date = birthday_date.strftime("%d %b %Y")

In [19]:
dt.datetime.strptime(string_date, "%d %b %Y")

datetime.datetime(2002, 9, 7, 0, 0)

In [20]:
from datetime import datetime, timedelta

Calculating the date 70 days from today.

In [21]:
datetime.today() + timedelta(days = 70)

datetime.datetime(2025, 10, 11, 13, 7, 49, 228982)

In [22]:
from dateutil.relativedelta import relativedelta

Calculating the date 2 months ago from today.

In [23]:
datetime.today() + relativedelta(months=-2)

datetime.datetime(2025, 6, 2, 13, 7, 49, 248411)

Calculates the relative difference between today and 20 days from today.

In [24]:
relativedelta(datetime.today(), relativedelta(days = 20) + datetime.today())

relativedelta(days=-20, seconds=-1, microseconds=+999968)

In [25]:
from dateutil import tz

Gets the current time with local time zone.

In [26]:
now = datetime.now(tz=tz.tzlocal())
now

datetime.datetime(2025, 8, 2, 13, 7, 49, 282542, tzinfo=tzlocal())

Gets the time zone name from the `now` datetime object.

In [27]:
now.tzname()

'SE Asia Standard Time'

Gets the time zone information for Asia/Tokyo and stores it in the variable `Wib`.

In [28]:
Wib = tz.gettz("Asia/Tokyo")

Gets the current time in the Asia/Tokyo time zone.

In [29]:
datetime.now(tz= Wib)

datetime.datetime(2025, 8, 2, 15, 7, 49, 316323, tzinfo=tzfile('Japan'))

Change the time zone from `now` to Asia/Tokyo without changing the time value (na√Øve conversion).

In [30]:
now.replace(tzinfo= Wib)

datetime.datetime(2025, 8, 2, 13, 7, 49, 282542, tzinfo=tzfile('Japan'))