# Introduction to Dictionary

# Defining Dictionary

In [1]:
dicts = {'a':1, 'b':4, 'c':3}
print(dicts)

{'a': 1, 'b': 4, 'c': 3}

In [2]:
sport_team = dict([
    ('Colorado', 'Rockies'),
    ('Boston', 'Red Sox'),
    ('Minnesota', 'Twins'),
    ('Milwaukee', 'Brewers'),
    ('Seattle', 'Mariners')
])
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [3]:
sport_team = dict(
    Colorado='Rockies',
    Boston='Red Sox',
    Minnesota='Twins',
    Milwaukee='Brewers',
    Seattle='Mariners'
)
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

# Accessing Dictionary

In [4]:
sport_team[1]

KeyError: 1

```
# This is formatted as code
```

[] Access with elbow brackets

In [5]:
print(sport_team['Minnesota'])
print(sport_team['Colorado'])

Twins
Rockies

If you refer to the key that is not in the Dictionary, Python brings up Exception

In [6]:
print(sport_team['Toronto'])

KeyError: 'Toronto'

add new entries

In [7]:
sport_team['Kansas City'] = 'Royals'
print(sport_team)
sport_team['Seattle'] = 'Seahawks'
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

Delete the entry using del

In [8]:
del sport_team['Seattle']
print(sport_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Kansas City': 'Royals'}

# Dictionary Key vs List Indexing

In [9]:
sport_team['Toronto']

KeyError: 'Toronto'

In [10]:
sport_team[1]

KeyError: 1

In fact, that was the same mistake. In the last case, [1] looks like a numerical index, but not.

You will see later that the object of any type that cannot be changed can be used as a dictionary key. Therefore, there is no reason you cannot use integers

In [11]:
d = {0: 'a', 1: 'b', 2: 'c', 3: 'd'}
print(d)

print(d[0])

print(d[2])

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
a
c

In the expressions sport_team[1], d[0], and d[2], the numbers in square brackets look like indices. But they have nothing to do with the order of the items in the dictionary. Python interprets them as dictionary keys. If you define these same dicts in reverse order, you still get the same values using the same keys.

In [12]:
d = {3: 'd', 2: 'c', 1: 'b', 0: 'a'}
print(d)


print(d[0])

print(d[2])

{3: 'd', 2: 'c', 1: 'b', 0: 'a'}
a
c

# Building a Dictionary Incrementally

In [13]:
person = {}
print(type(person))
print(person)


person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

<class 'dict'>
{}

In [14]:
print(person)
print(person['fname'])
print(person['age'])
print(person['children'])
print(person['pets'])

{'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
Joe
51
['Ralph', 'Betty', 'Joey']
{'dog': 'Fido', 'cat': 'Sox'}

Taking values in a sublist or subdictionary requires an additional index or key

In [15]:
print(person['children'][-1])

print(person['pets']['cat'])

Joey
Sox

This example demonstrates another feature of dicts: the values contained within a dict don't have to be of the same type. Specifically, some values are strings, one is an integer, one is a list, and one is a dict.

Just as the values within a dict don't have to be of the same type, neither do the keys.

In [16]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}
print(foo)


print(foo[42])

print(foo[2.78])

print(foo[True])

{42: 'aaa', 2.78: 'bbb', True: 'ccc'}
aaa
bbb
ccc

Here, one key is an integer, one is a float, and one is a Boolean. It's not clear how this would be useful, but you never know.

Note how versatile Python dicts are. In sport_team, the same information (baseball team names) is stored for each of several different geographic locations. person, on the other hand, stores different types of data for a single person.

You can use dicts for a variety of purposes because there are few restrictions on the allowed keys and values.

# Restriction in Key Dictionary

In [17]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}

d = {int: 1, float: 2, bool: 3}

d = {bin: 1, hex: 2, oct: 3}

No Duplicate Key

In [18]:
sport_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Timberwolves',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners',
    'Minnesota': 'Twins'
}
sport_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

Key Dice Must Immutable

In [19]:
d = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}
d[(1,1)]

d[(2,1)]

'c'

In [20]:
d = {[1, 1]: 'a', [1, 2]: 'b', [2, 1]: 'c', [2, 2]: 'd'}

TypeError: unhashable type: 'list'

# Restriction in Value Dictionary

In [21]:
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
d

d[0] == d[1] == d[2]

True

# Built-in Dictionary Methods

d.clear()

d.clear() clears the dict d of all key-value pairs.

In [23]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)

d.clear()
print(d)

{'a': 10, 'b': 20, 'c': 30}
{}

d.get(<key>[, <default>])

Python's .get() dict method provides a convenient way to get the value of a key from a dict without first checking whether the key exists and without raising an error.

d.get(<key>) searches the dict d for <key> and returns the associated value if found. If <key> is not found, it returns None.

In [24]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.get('b'))

print(d.get('z'))

20
None

d.items ()

d.items() returns a list of tuples containing the key-value pairs in d. The first item in each tuple is the key, and the second item is the key's value.

In [25]:
d = {'a': 10, 'b': 20, 'c': 30}
d


print(list(d.items()))

print(list(d.items())[1][0])

print(list(d.items())[1][1])

[('a', 10), ('b', 20), ('c', 30)]
b
20

d.keys ()

d.keys() returns a list of all keys in d

In [26]:
d = {'a': 10, 'b': 20, 'c': 30}
d


list(d.keys())

['a', 'b', 'c']

d.update()

In [27]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

d1.update(d2)
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

d.pop()

In [28]:
d = {'a': 10, 'b': 20, 'c': 30}

d.pop('b')

d

{'a': 10, 'c': 30}

d.popitem()

In [29]:
d = {'a': 10, 'b': 20, 'c': 30}

d.popitem()

print(d)


d.popitem()

print(d)

{'a': 10, 'b': 20}
{'a': 10}

# Thank you