# Simple

## Example 1

In [1]:
with open("C:/Users/LENOVO/Python/contoh_sederhana.txt", "w") as file:
    file.write("Halo, ini adalah file teks sederhana.")

## Example 2

In [3]:
with open("C:/Users/LENOVO/Python/contoh_sederhana.txt", "r") as file:
    konten = file.read()
    print(konten)

Halo, ini adalah file teks sederhana.

# Intermediate

## Example 1: Copy Files

In [5]:
file_sumber = "C:/Users/LENOVO/Python/sumber.txt"
file_tujuan = "C:/Users/LENOVO/Python/tujuan.txt"

with open(file_sumber, "r") as sumber, open(file_tujuan, "w") as tujuan:
    for baris in sumber:
        tujuan.write(baris)
        print(baris)

This is a sample text file.

It contains multiple lines of text.

You can copy its content to another file.

In [6]:
with open(file_sumber, "r") as sumber:
    print(sumber.read())

This is a sample text file.
It contains multiple lines of text.
You can copy its content to another file.

## Example 2: Copying Files Using Shutil

In [9]:
import shutil

file_sumber = "C:/Users/LENOVO/Python/sumber.txt"
file_tujuan = "C:/Users/LENOVO/Python/tujuan.txt"

shutil.copyfile(file_sumber, file_tujuan)

'C:/Users/LENOVO/Python/tujuan.txt'

In [10]:
with open("C:/Users/LENOVO/Python/tujuan.txt", "r") as file:
    baca = file.read()
    print(baca)

This is a sample text file.
It contains multiple lines of text.
You can copy its content to another file.

# Advance

## Example 1: Reading and manipulating CSV data

In [11]:
import csv

# Define the data as a list of dictionaries
data = [
    {"Name": "Alice", "Score": 85},
    {"Name": "Bob", "Score": 92},
    {"Name": "Charlie", "Score": 78},
    {"Name": "David", "Score": 95},
    {"Name": "Eve", "Score": 88},
    {"Name": "Frank", "Score": 76}
]

# Specify The CSV File Path
output_csv = "input.csv"

# Write the data to the csv file
with open(output_csv, "w", newline="") as csvfile:
    fieldnames = ["Name", "Score"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    # Write the header row
    writer.writeheader()

    # Write the data rows
    for row in data:
        writer.writerow(row)

print("CSV file 'input.csv' has been created successful.")

CSV file 'input.csv' has been created successfully.

In [12]:
from pandas import read_csv

read_csv(output_csv)

      Name  Score
0    Alice     85
1      Bob     92
2  Charlie     78
3    David     95
4      Eve     88
5    Frank     76

In [13]:
with open(output_csv, "r") as csvfile:
    output = csvfile.read()
    print(output)

Name,Score
Alice,85
Bob,92
Charlie,78
David,95
Eve,88
Frank,76

In [14]:
import csv

file_input = "input.csv"
file_output = "output.csv"

with open(file_input, "r") as masukan, open(file_output, "w", newline="") as keluaran:
    pembaca = csv.reader(masukan)
    penulis = csv.writer(keluaran)

    # Skip the header row
    next(pembaca)

    # Example: multiply the value in the second column with 2
    for baris in pembaca:
        baruan_baris = [baris[0], int(baris[1]) * 2]  # Do data manipulation as needed
        print(baruan_baris)
        penulis.writerow(baruan_baris)

['Alice', 170]
['Bob', 184]
['Charlie', 156]
['David', 190]
['Eve', 176]
['Frank', 152]

## Example 2: Filtering and writing selected lines to the new CSV file

In [15]:
import csv

file_input = "input.csv"
file_output = "output.csv"

with open(file_input, "r") as masukan, open(file_output, "w", newline="") as keluaran:
    pembaca = csv.reader(masukan)
    penulis = csv.writer(keluaran)

    # Skip the header row
    next(pembaca)

    # Example: Writing only rows whose second column value is more than 10
    for baris in pembaca:
        if int(baris[1]) >  90:  # Filtering lines based on certain conditions
            penulis.writerow(baris)
            print(baris)

['Bob', '92']
['David', '95']