# Python Fundamental

# Common data structure

In [2]:
# Lists

my_list = [] # Create Empty List
print(my_list)
my_list = [1, 2, 219, 'example', 3.14] # Creating List with data
print(my_list)

[]
[1, 2, 219, 'example', 3.14]

In [2]:
# Dictionary
my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict)
my_dict['Second'] = 'C++' # Changing Element
print(my_dict)
my_dict['Third'] = 'Ruby' # Adding Key-Value Pair
print(my_dict)
my_dict['Fourth'] = 'OOP'
print(my_dict)
my_dict['Four'] = {'Nul':'Early'}
print(my_dict)

{'First': 'Python', 'Second': 'Java'}
{'First': 'Python', 'Second': 'C++'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby', 'Fourth': 'OOP'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby', 'Fourth': 'OOP', 'Four': {'Nul': 'Early'}}

In [9]:
# Tuple
my_tuple = (1, 2, 3, 'army') # Create Tuple
print(my_tuple) 
print(my_tuple[0])
print(my_tuple[:])
# print (my_tuple [3] [4])
print(my_tuple[2])

(1, 2, 3, 'army')
1
(1, 2, 3, 'army')
3

In [10]:
# SETS
my_set = {1, 2, 3, 4, 5, 5, 5} # Create set
print(my_set)
my_set.add(4) # Add element to set
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [11]:
my_set = {1, 2, 3, 4, 5, 7}
my_set_2 = {3, 4, 5, 6}
my_set_3 = {1,2}
print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set_2.difference(my_set), '----------', my_set_2 - my_set)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set_2 ^ my_set)
print(my_set_3.issubset(my_set))
print(my_set_3.issuperset(my_set))
print(my_set.issuperset(my_set_2))
print(my_set_3.isdisjoint(my_set_2))
my_set.clear()
print(my_set)
print(my_set.issubset(my_set_2))

{1, 2, 3, 4, 5, 6, 7} ---------- {1, 2, 3, 4, 5, 6, 7}
{3, 4, 5} ---------- {3, 4, 5}
{1, 2, 7} ---------- {1, 2, 7}
{6} ---------- {6}
{1, 2, 6, 7} ---------- {1, 2, 6, 7}
{1, 2, 6, 7} ---------- {1, 2, 6, 7}
True
False
False
True
set()
True

# Conditional Statement

In [4]:
# If statement
num = -2
if num > 0:
    print(num, "adalah bilangan positif.")
else:
    print("This is a negative number.")
print("This is a true statement.")

This is a negative number.
This is a true statement.

In [5]:
# If else statement
num = -2
if num >= 0:
    print("Positive or zero")
else:
     print("Negative number")

Negative number

In [6]:
# If, elif, else statement
num = 10*2
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [7]:
# If nested
num = 8
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

# Loops

In [8]:
# While loop
num = 1
odd_nums = []
while num:
    if num % 2 != 0:
        odd_nums.append(num)
    elif num >=20:
        break
    num += 1
print("Odd numbers:", odd_nums)

Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
# For loop
lists = [1, 2, 3, 4, 5,100]
for num in lists:
    print(num)

1
2
3
4
5
100

# Function

In [9]:
# Function with return
def pow(a):
  return a**2

pow(3)
print(pow(2))
power = pow(2)
print(power)

4
4

In [10]:
def pow(a):
  print(a**2)
print(pow(1000))
pow(2)

1000000
None
4