# Introduction to Function

# Python Function

In [4]:
# Function Definition
def greet(name): # to define a function so that it is readable
    '''
    fungsi ini menyapa nama
    orang yang masuk sebagai
    sebuah parameter
    '''
    print("Hello, " + name +". Good Morning! Welcome to the jungle!")
print(greet.__doc__)
greet('A')

fungsi ini menyapa nama
orang yang masuk sebagai
sebuah parameter

Hello, A. Good Morning! Welcome to the jungle!

In [5]:
greet('Davin')
greet("Puan Mahadani")

Hello, Davin. Good Morning! Welcome to the jungle!
Hello, Puan Mahadani. Good Morning! Welcome to the jungle!

In [7]:
# Function Definition
def greet(name): # to define a function so that it is readable
    '''
    This function returns the name 
    of the person entering 
    as a parameter.
    '''
    print("Hello, " + name +". Good Morning! Welcome to MySkill!")
greet('meaw')

Hello, meaw. Good Morning! Welcome to MySkill!

# Function Arguments

In [8]:
def greet(name, msg='how are you'):
    """This function greets
    the person with the given message"""
    print("Hello", name + ', ' + msg)

greet("davin")
greet("Zigi Moasal")

Hello davin, how are you
Hello Zigi Moasal, how are you

## Python Default Arguments

We can give the default value to the argument using the assignment operator (=). Here is an example.

In [9]:
def greet(name, msg="Good morning!"):
    """
    This function greets 
    people with 
    the provided message.
    
    If no message is provided, 
    the default is 
    "Good morning!"
    """

    print("Hello",name +', ' + msg)

def greetings(a):
    "Used for greetings"
    
print(greetings.__doc__)
print(greetings('Andra'))
greet("Faras")
greet("Luthfi", "Apa kabar")

Used for greetings
None
Hello Faras, Good morning!
Hello Luthfi, Apa kabar

A number of arguments in a function can have a default value. But once we have the default argument, all arguments on the right must also have the default value.

## Python Keyword Arguments

When we call functions with several values, these values are assigned to the argument in accordance with their position.

For example, in the function above greet(), when we call it Greet ("Bruce", "How are you?"), The value of "Bruce" is given to the name argument and also "How are you?" To MSG

Python allows the function to be called using a keyword argument. When we call the function in this way, the order (position) of the argument can be changed. The following calls to the above function are all valid and produce the same results.

In [10]:
# 2 Keyword Arguments
greet(name = "Luthfi",msg = "How do you do?")

# 2 Keyword Arguments (Out of Order)
greet(msg = "How do you do?",name = "Luthfi")

# 1 Positional, 1 Keyword Argument
greet("Luthfi", msg = "How do you do?")

Hello Luthfi, How do you do?
Hello Luthfi, How do you do?
Hello Luthfi, How do you do?

## Python Arbitrary Arguments

Sometimes, we do not know in advance the number of arguments that will be inserted into a function. Python allows us to handle this kind of situation through calling functions with a number of changing arguments.

In the definition of function, we use the star sign (*) before the name of the parameter to show this type of argument. Here is an example.

In [11]:
def greet(*names):
    """This function greets all 
    person in tuple name."""
   
    # Names is a tuple with arguments
    for name in names:
        print("Hello", name)


greet("A", "B", "C", "D") ; greet(1,2,3,4,5)

Hello A
Hello B
Hello C
Hello D
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

# Python recursion

The following is an example of a recursive function to find the factorial of an integer.

Factorial a number is the product of all integers from 1 to that number. For example, factorial of 6 (symbolized by 6!) Is 1*2*3*4*5*6 = 720

In [12]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return x * factorial(x-1)


num = 3
print("Factorial value of", num, "adalah", factorial(num))
print("Factorial value of", 10, "adalah", factorial(10))

Factorial value of 3 adalah 6
Factorial value of 10 adalah 3628800

factorial (3) # 1st call with 3 \
3 * factorial (2) # 2nd call with 2 \
3 * 2 * factorial (1) # 3rd call with 1 \
3 * 2 * 1 # Return from 3rd call as number = 1 \
3 * 2 # Return from 2nd Call \
6 # Return from 1st Call

# Anonymous function

In [13]:
# Program to show the use of lambda function
double = lambda x: x * 5
pangkat = lambda a:a**a
print(pangkat(9))
print(double(5))

387420489
25

We use lambda functions when we need an unnamed function for a short time.

In Python, we typically use them as arguments to higher-order functions (functions that take other functions as arguments). Lambda functions are used in conjunction with built-in functions like filter(), map(), and so on.

The filter() function in Python takes a function and a list as arguments.

The function is called with all the items in the list, and a new list is returned containing the items whose function evaluates to True.

The following is an example of using the filter() function to filter only even numbers from a list.

In [14]:
# Program to filter out only the event items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 ==0) , my_list))
new_list1 = list(map(lambda x: (x%2 ==0) , my_list))

print(new_list)
print(new_list1)

[4, 6, 8, 12]
[False, False, True, True, True, False, False, True]

The map() function in Python takes a function and a list.

The function is called with all the items in the list and a new list is returned containing the items returned by the function for each item.

Here is an example of using the map() function to duplicate all the items in a list.

In [15]:
# Program to double each item in a list using map ()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x ** x , my_list))

print(new_list)

[1, 3125, 256, 46656, 16777216, 285311670611, 27, 8916100448256]

# Global, Local and Non-Local Variable

## Global Variable and Local Variable

In [16]:
x = "global"

def foo():
    print("x in:", x)


foo()
print("X outside:", x)

x in: global
X outside: global

In the code above, we create x as a global variable and define foo() to print the global variable x. Finally, we call foo(), which will print the value of x.

What if we want to change the value of x within a function?

In [17]:
x = 'Zakkiya '

def foo():
    global x
    x = x * 2
    print(x)
foo()

Zakkiya Zakkiya

In [18]:
x = "global"

def foo():
    global x
    x = x * 2
    print(x)
foo()

globalglobal

In [19]:
x = "global "

def foo():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)
foo()

global global
local

## Non-local variable

In [21]:
def outer():
    x = "local"
    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner:", x)

    print("Outer:", x)
    inner()

outer()

Outer: local
inner: nonlocal

In [22]:
plist = [123,456,789]
plist.append(123)
print(plist)

[123, 456, 789, 123]