# What is a string?

In [2]:
"Yes" or 'No'

'Yes'

In [3]:
print("Muhamad Petra Piyunandra"[10])
print("Muhamad Pettra Piyunandra"[-20])

t
a

## Create String

With single quotes

In [4]:
string1 = 'Welcome to Universitas Negeri Yogyakarta'
print("String with single quotes:")
print(string1)

String with single quotes:
Welcome to Universitas Negeri Yogyakarta

With double quotes

In [5]:
string2 = "I am Andra"
print("String with double quotes:")
print(string2)

String with double quotes:
I am Andra

With triple quotes

In [6]:
string3 = '''I am a Mathematics student and interested in anything related to "data"'''
print("String with triple quotes:")
print(string3)

String with triple quotes:
I am a Mathematics student and interested in anything related to "data"

In [7]:
string4 = '''I want to talk about, how much is the salary at the job "Data Analyst"'''
print(string4)

I want to talk about, how much is the salary at the job "Data Analyst"

With triple quotes allowing multi-line

In [8]:
string5 = '''
Mathematics
Is
A
Beautuy
'''
print("Creating a multi-line string:")
print(string5)

Creating a multi-line string:

Mathematics
Is
A
Beautuy

In [9]:
string6 = '''
Muhamad 
Petra
Piyunandra
'''
print(string6)

Muhamad
Petra
Piyunandra

# Character Access in String Python

In [10]:
string7 = "Mathematics"
print("Initial String:")
print(string7)

# Print the first character
print("The first character of the string is:")
print(string7[0])

# Print the last karaketer
print("The last character of the string is:")
print(string7[-1])

Initial String:
Mathematics
The first character of the string is:
M
The last character of the string is:
s

## Reverse String

By Accessing Characters from a string, we can also reverse it. We can Reverse a string by writing [::-1] and the string will be reversed.

In [11]:
mtc = "mathematics"
print(mtk[::-1])

reversed_name = "ardna"
print(reversed_name[::-1])

reversed_jutsu = "Sakashima Yokoshima Happo Fusaghari"
print((reversed_jutsu[::-1]).lower())

NameError: name 'mtk' is not defined

Reverse string using reversed and join functions

In [ ]:
mtc = "".join(reversed(mtc))
print(mtc)

reversed_name = "ardna"
reversed_name = "".join(reversed(reversed_name))
print(reversed_name)

## String slicing

To access multiple characters in a String, the slicing method is used. Slicing in a String is done using the Slicing operator (colon).

Make a string

In [12]:
name = "Muhamad Petra Piyunandra"
print("Complete string:")
print(name)

Complete string:
Muhamad Petra Piyunandra

Print characters 3 to 12

In [13]:
print("Slicing Characters from 3-12:")
print(name[2:12])

Slicing Characters from 3-12:
hamad Petr

Print the 3rd character and the 2nd character of the end

In [16]:
print("Slicing characters between the " + 
      " third character and the last 2 characters: ")
print(name[2:-1])

Slicing characters between the  third character and the last 2 characters:
hamad Petra Piyunandr

In [17]:
print(name[-1])
print(name[:])

a
Muhamad Petra Piyunandra

## Delete and update string

## Character update

In [18]:
complete_string = "MUHAMAD PETRA PIYUNANDRA"
print("Complete string:")
print(complete_string)

Complete string:
MUHAMAD PETRA PIYUNANDRA

Because Python strings are immutable, they don't support updating items directly. There are two ways to do this:

Method 1

In [19]:
list1 = list(complete_string)
print(list1)
print(type(list1))
list1[4] = 'Y'
String2 = ''.join(list1)
print("Updating characters on 2nd Index:")
print(String2)
print(type(String2))

['M', 'U', 'H', 'A', 'M', 'A', 'D', ' ', 'P', 'E', 'T', 'R', 'A', ' ', 'P', 'I', 'Y', 'U', 'N', 'A', 'N', 'D', 'R', 'A']
<class 'list'>
Updating characters on 2nd Index:
MUHAYAD PETRA PIYUNANDRA
<class 'str'>

Method 2

In [20]:
String3 = complete_string[0:4] + 'Y' + complete_string[5:]
print(String3)

MUHAYAD PETRA PIYUNANDRA

## Update all strings

In [21]:
before = "Hello, I'm Andra"
print("Before changed:")
print(before)

# String update
sesudah = "Welcome to Indonesia"
print("After changed:")
print(after)

Before changed:
Hello, I'm Andra
After changed:

NameError: name 'after' is not defined

## Delete Character

In [22]:
complete_string = "MUHAMAD PETRA PIYUNANDRA"
print("Complete string:")
print(complete_string)

Complete string:
MUHAMAD PETRA PIYUNANDRA

Remove the string

In [25]:
remove2 = complete_string[0:1] + complete_string[2:]
print("Deleting the 2nd index character:")
print(remove2)

Deleting the 2nd index character:
MHAMAD PETRA PIYUNANDRA

## Delete all strings

In [27]:
complete_string = "MUHAMAD PETRA PIYUNANDRA"
print("Complete string:")
print(complete_string)

Complete string:
MUHAMAD PETRA PIYUNANDRA

Delete using __del__

In [28]:
del complete_string
print("Deleting the entire string: results in an error")
print(stringlengkap)

Deleting the entire string: results in an error

NameError: name 'stringlengkap' is not defined

# Escape Sequences in Python

An escape sequence is a special character used in a string to indicate that the next character has a special meaning, not just a regular letter. Escape sequences always begin with a backslash `\`.

In [29]:
String1 = '''I'm "Smart"'''
print("String with triple quotes:")
print(String1)

String with triple quotes:
I'm "Smart"

#### Escape with a single quote

In [30]:
String1 = 'I\'m very "tired" with you'
print("Escaping Single Quote:")
print(String1)

Escaping Single Quote:
I'm very "tired" with you

#### Escape with double quotes

In [31]:
String1 = "I'm very \"Tired\" with you"
print("Escaping Double Quotes: ")       # Note: give a \ sign first then the sign we want to set
print(String1)

Escaping Double Quotes:
I'm very "Tired" with you

#### Print Path with Escape lines

In [32]:
String1 = "C: Https:\\\Andra\\\Channel\\\.com"
print("Escaping Backslash:")
print(String1)

Escaping Backslash:
C: Https:\\Andra\\Channel\\.com

#### Print Path with Tab

In [33]:
String1 = "Note:\t Jika ada sesuatu.."
print("Tab:")
print(String1)

Tab:
Note:	 Jika ada sesuatu..

#### Print Path With New Line

In [34]:
String1 = "Nama\nNIM"
print("New Line:")
print(String1)

New Line:
Nama
NIM

##### General Escape Sequence Summary
| Escape | Meaning |
| ------ | ----------------------
| `\ '` | Single quotation mark |
| `\" `| Double Quotation Sign |
| `\\ '| Backslash Signs |
| `\ n` | New Line (Newline) |
| `\ t` | Tab (width space) |
| `\ r` | Carriage Return (Rare) |
| `\ b` | Backspace |

# String Formatting

String formatting allows you to insert variable values or specific text into a string in a controlled order or name. Python provides several methods, and .format() is one of the classic and very flexible methods.

#### Ordinary order

In [35]:
String1 = "{} {} {}".format('Mathematics', 'for', 'Life')
print("Print string in the ordinary order:")
print(String1)

Print string in the ordinary order:
Mathematics for Life

In [36]:
my_name = "{} {} {}".format('Muhamad','Petra','Piyunandra')
print(my_name)

Muhamad Petra Piyunandra

#### Positional Formatting

In [37]:
String1 = "{1} {0} {2}".format('Mathematics', 'for', 'Life')
print("Print String in Positional Order:")
print(String1)

Print String in Positional Order:
for Mathematics Life

In [38]:
my_name = "{2} {1} {0}".format('Muhamad','Petra','Piyunandra')
print(my_name)

Piyunandra Petra Muhamad

#### Keyword Formatting

In [41]:
String1 = "{l} {f} {m}".format(m='Mathematics', f='for', l='Life')
print("Print string with keyword order:")
print(String1)

Print string with keyword order:
Life for Mathematics

In [42]:
my_name = "{m} {p} {p}".format(m='Muhamad',p='Petra',pp='Piyunandra')
print(my_name)

Muhamad Petra Petra

* String Formatting Summary

| Technique | Example | Description |
| ---------------- | -------------------------------- | ----------------------- |
| Default order | `"{} {}".format('A', 'B')` | Fill in the order |
| Positional index | `"{1} {0}".format('A', 'B')` | Can be swapped |
| Keyword | `"{x} {y}".format(x='A', y='B')` | Name as reference |

#### Integer format (integer)
Integers such as binary, hexadecimal, etc., and float can be rounded or displayed in the form of exponents using format determinants.

In [43]:
String1 = "{0:b}".format(100)
print("Binary representation of 100 is")
print(String1)

Binary representation of 100 is
1100100

#### Float format

In [44]:
String1 = "{0:e}".format(165.6458)
print("Exponential representation of 165,6458 is")
print(String1)

Exponential representation of 165,6458 is
1.656458e+02

#### Rounding Round

In [45]:
String1 = "{0:.2f}".format(23/400)
print("Rounding the number 23/400 is:")
print(String1)

Rounding the number 23/400 is:
0.06

#### Alignment
A string can be left () or center (^) justified using format specifiers, separated by colons (:).

In [46]:
String1 = "|{:<4}|{:^2}|{:<4}|".format('Mathematics','is','Easy')
print("Left, middle and right alignment with formatting:")
print(String1)

Left, middle and right alignment with formatting:
|Mathematics|is|Easy|

#### Demonstration Alignment Space

In [47]:
String1 = "{0:^16} independence in the year {1:<4}!".format("Indonesia", 1945)
print(String1)

   Indonesia     independence in the year 1945!

#### Number Format with % (Printf-style)
* Old-style formatting is done without using the format method using the % operator
* %3.2f → 3 characters total, 2 decimal places
* %1.1fd → 1 number total, 1 decimal place
* %3.3f → 3 numbers total, 3 decimal places

In [48]:
Integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The value of Integer1 is %3.2f' % Integer1)
print("Formatting in 3.4f format: ")
print('The value of Integer1 is %1.1f' % Integer1)
print('The value of Integer1 is %3.3f' % Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35
Formatting in 3.4f format:
The value of Integer1 is 12.3
The value of Integer1 is 12.346

__end="\r"__ → Returns to the beginning of the line, overwriting the previous text. So the final result will look like this:

In [52]:
print("This is the first line.")
print("This is the second row.", end="\r")
print("Is it true")

This is the first line.
Is it truee second row.