# Introduction to Datetime

In [8]:
import datetime as dt

In [9]:
tanggal_ultah = dt.datetime(2002, 9, 7)

Mengubah objek datetime menjadi string dengan format seperti "07 Sep 2002".

In [10]:
string_date = tanggal_ultah.strftime("%d %b %Y")

Mengubah kembali string tanggal menjadi objek datetime.

In [11]:
dt.datetime.strptime(string_date, "%d %b %Y")

datetime.datetime(2002, 9, 7, 0, 0)

In [12]:
from datetime import datetime, timedelta

Menghitung tanggal 70 hari dari hari ini.

In [13]:
datetime.today() + timedelta(days = 70)

datetime.datetime(2025, 10, 11, 13, 4, 46, 726900)

In [14]:
from dateutil.relativedelta import relativedelta

Menghitung tanggal 2 bulan yang lalu dari hari ini.

In [15]:
datetime.today() + relativedelta(months=-2)

datetime.datetime(2025, 6, 2, 13, 4, 46, 745548)

Menghitung selisih relatif antara hari ini dan 20 hari ke depan dari hari ini.

In [16]:
relativedelta(datetime.today(), relativedelta(days = 20) + datetime.today())

relativedelta(days=-20, seconds=-1, microseconds=+999954)

In [17]:
from dateutil import tz

Mengambil waktu saat ini dengan zona waktu lokal.

In [18]:
now = datetime.now(tz=tz.tzlocal())
now

datetime.datetime(2025, 8, 2, 13, 4, 46, 776432, tzinfo=tzlocal())

Mengambil nama zona waktu dari objek datetime `now`.

In [19]:
now.tzname()

'SE Asia Standard Time'

Mendapatkan informasi zona waktu untuk Asia/Tokyo dan menyimpannya dalam variabel `Wib`.

In [20]:
Wib = tz.gettz("Asia/Tokyo")

Mengambil waktu saat ini di zona waktu Asia/Tokyo.

In [21]:
datetime.now(tz= Wib)

datetime.datetime(2025, 8, 2, 15, 4, 46, 978729, tzinfo=tzfile('Japan'))

Mengganti zona waktu dari `now` ke Asia/Tokyo tanpa mengubah nilai waktu (na√Øve conversion).

In [22]:
now.replace(tzinfo= Wib)

datetime.datetime(2025, 8, 2, 13, 4, 46, 776432, tzinfo=tzfile('Japan'))