# Common Data Structure

In [2]:
# Lists

my_list = [] #membuat list kosong
print(my_list)
my_list = [1, 2, 219, 'example', 3.14] #membuat list dengan data
print(my_list)

[]
[1, 2, 219, 'example', 3.14]

In [1]:
# Dictionary
my_dict = {'Pertama': 'Python', 'Kedua': 'Java'}
print(my_dict)
my_dict['Kedua'] = 'C++' #mengubah elemen
print(my_dict)
my_dict['Ketiga'] = 'Ruby' #menambahkan pasangan key value
print(my_dict)
my_dict['Empat'] = 'OOP'
print(my_dict)
my_dict['Empat'] = {'Nul':'Awal'}
print(my_dict)

{'Pertama': 'Python', 'Kedua': 'Java'}
{'Pertama': 'Python', 'Kedua': 'C++'}
{'Pertama': 'Python', 'Kedua': 'C++', 'Ketiga': 'Ruby'}
{'Pertama': 'Python', 'Kedua': 'C++', 'Ketiga': 'Ruby', 'Empat': 'OOP'}
{'Pertama': 'Python', 'Kedua': 'C++', 'Ketiga': 'Ruby', 'Empat': {'Nul': 'Awal'}}

In [9]:
# Tuple
my_tuple = (1, 2, 3, 'army') #create tuple
print(my_tuple) 
print(my_tuple[0])
print(my_tuple[:])
#print(my_tuple[3][4])
print(my_tuple[2])

(1, 2, 3, 'army')
1
(1, 2, 3, 'army')
3

In [10]:
# Sets
my_set = {1, 2, 3, 4, 5, 5, 5} #create set
print(my_set)
my_set.add(4) #add element to set
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [11]:
my_set = {1, 2, 3, 4, 5, 7}
my_set_2 = {3, 4, 5, 6}
my_set_3 = {1,2}
print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set_2.difference(my_set), '----------', my_set_2 - my_set)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set_2 ^ my_set)
print(my_set_3.issubset(my_set))
print(my_set_3.issuperset(my_set))
print(my_set.issuperset(my_set_2))
print(my_set_3.isdisjoint(my_set_2))
my_set.clear()
print(my_set)
print(my_set.issubset(my_set_2))

{1, 2, 3, 4, 5, 6, 7} ---------- {1, 2, 3, 4, 5, 6, 7}
{3, 4, 5} ---------- {3, 4, 5}
{1, 2, 7} ---------- {1, 2, 7}
{6} ---------- {6}
{1, 2, 6, 7} ---------- {1, 2, 6, 7}
{1, 2, 6, 7} ---------- {1, 2, 6, 7}
True
False
False
True
set()
True

# Conditional Statement

In [3]:
# IF Statement
num = -2
if num > 0:
    print(num, "adalah bilangan positif.")
else:
    print("Ini bilangan negatif.")
print("Ini adalah pernyataan yang benar.")

Ini bilangan negatif.
Ini adalah pernyataan yang benar.

In [16]:
# IF Else Statement
num = -2
if num >= 0:
    print("Positif atau nol")
else:
     print("Bilangan negatif")

Bilangan negatif

In [19]:
# IF, Elif, Else Statement
num = 10*2
if num > 0:
    print("Bilangan positif")
elif num == 0:
    print("Nol")
else:
    print("Bilangan negatif")

Bilangan positif

In [20]:
# IF nested
num = 8
if num >= 0:
    if num == 0:
        print("nol")
    else:
        print("Bilangan positif")
else:
    print("Bilangan negatif")

Bilangan positif

# Loops

In [22]:
# While Loop
num = 1
odd_nums = []
while num:
    if num % 2 != 0:
        odd_nums.append(num)
    elif num >=20:
        break
    num += 1
print("Bilangan ganjil: ", odd_nums)

Bilangan ganjil:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
# For Loop
lists = [1, 2, 3, 4, 5,100]
for num in lists:
    print(num)

1
2
3
4
5
100

# Function

In [24]:
# Function with Return
def pow(a):
  return a**2

pow(3)
print(pow(2))
power = pow(2)
print(power)

4
4

In [25]:
def pow(a):
  print(a**2)
print(pow(1000))
pow(2)

1000000
None
4