# Apa itu string?

In [1]:
"Benar" or 'Salah'

'Benar'

In [2]:
print("Muhamad Petra Piyunandra"[10])
print("Muhamad Pettra Piyunandra"[-20])

t
a

## Create String

Dengan tanda kutip tunggal

In [3]:
string1 = 'Selamat datang di Universitas Negeri Yogyakarta'
print("String dengan tanda kutip tunggal: ")
print(string1)

String dengan tanda kutip tunggal:
Selamat datang di Universitas Negeri Yogyakarta

Dengan tanda kutip ganda

In [4]:
string2 = "Saya Andra"
print("String dengan tanda kutip ganda: ")
print(string2)

String dengan tanda kutip ganda:
Saya Andra

Dengan tanda kutip tiga

In [5]:
string3 = '''Saya mahasiswa Matematika dan tertarik dengan apapun berkaitan dengan "data"'''
print("String dengan tanda kutip tiga: ")
print(string3)

String dengan tanda kutip tiga:
Saya mahasiswa Matematika dan tertarik dengan apapun berkaitan dengan "data"

In [6]:
string4 = '''Saya ingin berbicara tentang, berapa gaji di pekerjaan "Analis Data"'''
print(string4)

Saya ingin berbicara tentang, berapa gaji di pekerjaan "Analis Data"

Dengan tanda kutip tiga yang memungkinkan multibaris

In [7]:
string5 = '''
Matematika
Adalah
Suatu
Keindahan
'''
print("Membuat String multibaris: ")
print(string5)

Membuat String multibaris:

Matematika
Adalah
Suatu
Keindahan

In [8]:
string6 = '''
Muhamad 
Petra
Piyunandra
'''
print(string6)

Muhamad
Petra
Piyunandra

# Akses Karakter dalam String Python

In [9]:
string7 = "Matematika"
print("Initial String: ")
print(string7)

# Print karakter pertama
print("Karakter pertama dari string adalah: ")
print(string7[0])

# Print karaketer terakhir
print("Karakter terakhir dari string adalah: ")
print(string7[-1])

Initial String:
Matematika
Karakter pertama dari string adalah:
M
Karakter terakhir dari string adalah:
a

## Reverse (membalikan) String

Dengan Mengakses Karakter dari sebuah string, kita juga dapat membalikkannya. Kita dapat Membalikkan string dengan menulis [::-1] dan string akan dibalik.

In [10]:
mtk = "matematika"
print(mtk[::-1])

balik_nama = "ardna"
print(balik_nama[::-1])

jurus = "Sakashima Yokoshima Happo Fusaghari"
print((jurus[::-1]).lower())

akitametam
andra
irahgasuf oppah amihsokoy amihsakas

Reverse string menggunakan fungsi reversed dan join

In [11]:
mtk = "".join(reversed(mtk))
print(mtk)

balik_nama = "ardna"
balik_nama = "".join(reversed(balik_nama))
print(balik_nama)

akitametam
andra

## String Slicing

Untuk mengakses berbagai karakter dalam String, metode slicing digunakan. Mengiris dalam sebuah String dilakukan dengan menggunakan operator Slicing (titik dua).

Membuat string

In [12]:
nama = "Muhamad Petra Piyunandra"
print("String Lengkap: ")
print(nama)

String Lengkap:
Muhamad Petra Piyunandra

Print karakter 3 hingga 12

In [13]:
print("Slicing karakter dari 3-12: ")
print(nama[2:12])

Slicing karakter dari 3-12:
hamad Petr

Print karakter ke 3 dan karakter ke 2 yang akhir

In [14]:
print("Slicing karakter antara " +
	"karakter ke 3 dan karakter ke 2 yang akhir: ")
print(nama[3:-1])

Slicing karakter antara karakter ke 3 dan karakter ke 2 yang akhir:
amad Petra Piyunandr

In [15]:
print(nama[-1])
print(nama[:])

a
Muhamad Petra Piyunandra

## Delete and Update String

## Update Character

In [16]:
stringlengkap = "MUHAMAD PETRA PIYUNANDRA"
print("String Lengkap: ")
print(stringlengkap)

String Lengkap:
MUHAMAD PETRA PIYUNANDRA

Karena string Python bersifat immutable, string tersebut tidak mendukung pembaruan item secara langsung. Ada dua cara berikut:

Cara 1

In [17]:
list1 = list(stringlengkap)
print(list1)
print(type(list1))
list1[4] = 'Y'
String2 = ''.join(list1)
print("Memperbarui karakter pada Indeks ke-2: ")
print(String2)
print(type(String2))

['M', 'U', 'H', 'A', 'M', 'A', 'D', ' ', 'P', 'E', 'T', 'R', 'A', ' ', 'P', 'I', 'Y', 'U', 'N', 'A', 'N', 'D', 'R', 'A']
<class 'list'>
Memperbarui karakter pada Indeks ke-2:
MUHAYAD PETRA PIYUNANDRA
<class 'str'>

Cara 2

In [18]:
String3 = stringlengkap[0:4] + 'Y' + stringlengkap[5:]
print(String3)

MUHAYAD PETRA PIYUNANDRA

## Update Seluruh String

In [19]:
sebelum = "Hello, I'm Andra"
print("Sebelum diubah: ")
print(sebelum)

# Update string
sesudah = "Selamat datang di Indonesia"
print("Setelah diubah: ")
print(sesudah)

Sebelum diubah:
Hello, I'm Andra
Setelah diubah:
Selamat datang di Indonesia

## Delete Character

In [20]:
stringlengkap = "MUHAMAD PETRA PIYUNANDRA"
print("String Lengkap: ")
print(stringlengkap)

String Lengkap:
MUHAMAD PETRA PIYUNANDRA

Menghapus string

In [21]:
hapus2 = stringlengkap[0:1] + stringlengkap[2:]
print("Menghapus karakter indeks ke-2: ")
print(hapus2)

Menghapus karakter indeks ke-2:
MHAMAD PETRA PIYUNANDRA

## Menghapus Seluruh String

In [22]:
stringlengkap = "MUHAMAD PETRA PIYUNANDRA"
print("String Lengkap: ")
print(stringlengkap)

String Lengkap:
MUHAMAD PETRA PIYUNANDRA

Menghapus menggunakan __del__

In [23]:
del stringlengkap
print("Menghapus seluruh string: hasilnya error")
print(stringlengkap)

Menghapus seluruh string: hasilnya error

NameError: name 'stringlengkap' is not defined

# Escape Sequence in Python

Escape sequence adalah karakter khusus yang digunakan dalam string untuk menunjukkan bahwa karakter berikutnya memiliki arti khusus, bukan sekadar huruf biasa. Escape sequence selalu diawali dengan backslash `\`.

In [24]:
String1 = '''I'm "Smart"'''
print("String dengan tiga kutipan: ")
print(String1)

String dengan tiga kutipan:
I'm "Smart"

#### Escape dengan kutipan tunggal

In [25]:
String1 = 'I\'m very "tired" with you'
print("Escaping Single Quote: ")
print(String1)

Escaping Single Quote:
I'm very "tired" with you

#### Escape dengan kutipan ganda

In [26]:
String1 = "I'm very \"Tired\" with you"
print("Escaping Double Quotes: ")       #note : kasih tanda \ dulu baru tanda yang ingin kita tetapkan
print(String1)

Escaping Double Quotes:
I'm very "Tired" with you

#### Print path dengan barisan escape

In [27]:
String1 = "C: Https:\\\Andra\\\Channel\\\.com"
print("Escaping Backslashes: ")
print(String1)

Escaping Backslashes:
C: Https:\\Andra\\Channel\\.com

#### Print path dengan tab

In [28]:
String1 = "Note:\t Jika ada sesuatu.."
print("Tab: ")
print(String1)

Tab:
Note:	 Jika ada sesuatu..

#### Print path dengan baris baru

In [29]:
String1 = "Nama\nNIM"
print("New Line: ")
print(String1)

New Line:
Nama
NIM

##### Ringkasan Escape Sequence Umum
| Escape | Makna                    |
| ------ | ------------------------ |
| `\'`   | Tanda kutip tunggal      |
| `\"`   | Tanda kutip ganda        |
| `\\`   | Tanda backslash          |
| `\n`   | Baris baru (newline)     |
| `\t`   | Tab (spasi lebar)        |
| `\r`   | Carriage return (langka) |
| `\b`   | Backspace                |

# Formatting in String
String formatting memungkinkan Anda untuk menyisipkan nilai variabel atau teks tertentu ke dalam sebuah string dengan tata urutan atau nama yang dapat dikendalikan. Python menyediakan beberapa cara, dan .format() adalah salah satu metode klasik yang sangat fleksibel.

#### Urutan biasa

In [30]:
String1 = "{} {} {}".format('Matematika', 'untuk', 'Kehidupan')
print("Print string dengan urutan biasa: ")
print(String1)

Print string dengan urutan biasa:
Matematika untuk Kehidupan

In [31]:
nama_gw = "{} {} {}".format('Muhamad','Petra','Piyunandra')
print(nama_gw)

Muhamad Petra Piyunandra

#### Positional Formatting

In [32]:
String1 = "{1} {0} {2}".format('Matematika', 'untuk', 'Kehidupan')
print("Print string dengan urutan positional: ")
print(String1)

Print string dengan urutan positional:
untuk Matematika Kehidupan

In [33]:
nama_gw = "{2} {1} {0}".format('Muhamad','Petra','Piyunandra')
print(nama_gw)

Piyunandra Petra Muhamad

#### Keyword Formatting

In [34]:
String1 = "{k} {u} {m}".format(m='Matematika', u='untuk', k='Kehidupan')
print("Print string dengan urutan keyword: ")
print(String1)

Print string dengan urutan keyword:
Kehidupan untuk Matematika

In [35]:
nama_gw = "{m} {p} {p}".format(m='Muhamad',p='Petra',pp='Piyunandra')
print(nama_gw)

Muhamad Petra Petra

* Ringkasan Formatting String

| Teknik           | Contoh                           | Keterangan              |
| ---------------- | -------------------------------- | ----------------------- |
| Default order    | `"{} {}".format('A', 'B')`       | Diisi sesuai urutan     |
| Positional index | `"{1} {0}".format('A', 'B')`     | Bisa tukar posisi isian |
| Keyword          | `"{x} {y}".format(x='A', y='B')` | Nama sebagai rujukan    |

#### Format Bilangan Bulat (Integer)
Bilangan bulat seperti Biner, heksadesimal, dll., dan float dapat dibulatkan atau ditampilkan dalam bentuk eksponen dengan menggunakan penentu format.

In [36]:
String1 = "{0:b}".format(100)
print("Representasi biner dari 100 adalah ")
print(String1)

Representasi biner dari 100 adalah
1100100

#### Format Float

In [37]:
String1 = "{0:e}".format(165.6458)
print("Representasi eksponensial dari 165.6458 adalah ")
print(String1)

Representasi eksponensial dari 165.6458 adalah
1.656458e+02

#### Pembulatan biilangan bulat

In [38]:
String1 = "{0:.2f}".format(23/400)
print("Pembulatan bilangan 23/400 adalah: ")
print(String1)

Pembulatan bilangan 23/400 adalah:
0.06

#### Alignment (Perataan)
Sebuah string dapat kiri () atau tengah (^) dibenarkan dengan penggunaan penentu format, dipisahkan oleh titik dua (:).

In [39]:
String1 = "|{:<4}|{:^2}|{:<4}|".format('Matematika','sangat','Mudah')
print("Alignment kiri, tengah dan kanan dengan formatting: ")
print(String1)

Alignment kiri, tengah dan kanan dengan formatting:
|Matematika|sangat|Mudah|

#### Demontrasi alignment spasi

In [40]:
String1 = "{0:^16} merdeka pada tahun {1:<4}!".format("Indonesia", 1945)
print(String1)

   Indonesia     merdeka pada tahun 1945!

#### Format Angka dengan % (Printf-style)
* Pemformatan gaya lama dilakukan tanpa menggunakan metode format dengan menggunakan % operator
* %3.2f → 3 karakter total, 2 desimal
* %1.1fd → 1 angka total, 1 desimal
* %3.3f → 3 angka total, 3 desimal

In [41]:
Integer1 = 12.3456789
print("Pemformatan dalam format 3.2f: ")
print('Nilai Integer1 adalah %3.2f' % Integer1)
print("Pemformatan dalam format 3.4f: ")
print('Nilai Integer1 adalah %1.1f' % Integer1)
print('Nilai Integer1 adalah %3.3f' % Integer1)

Pemformatan dalam format 3.2f:
Nilai Integer1 adalah 12.35
Pemformatan dalam format 3.4f:
Nilai Integer1 adalah 12.3
Nilai Integer1 adalah 12.346

__end="\r"__ → Kembali ke awal baris, menimpa teks sebelumnya. Jadi hasil akhir akan tampak:

In [42]:
print("Ini adalah baris pertama.")
print("Ini adalah baris kedua.", end="\r")
print("Apa benar")

Ini adalah baris pertama.
Apa benarh baris kedua.